<h1>About Me</h1>
<p>
  Hi! I'm <strong>{{ site.author.name }}</strong>, a Systems Integration Engineer at OTTO by Rockwell Automation in Fort Wayne, Indiana. I hold a Master's in Robotics Engineering from the University of Maryland, College Park. My expertise lies at the intersection of robotics, artificial intelligence, and autonomous systems, focusing on perception, planning, and control.
</p>

<p>I have developed intelligent robotic systems using ROS/ROS2, designed deep learning-based AI solutions, and implemented reinforcement learning algorithms for navigation and decision-making. My experience spans mobile robotics, manipulators, autonomous navigation, and industrial automation, with a strong foundation in robot modeling, simulation, and embedded systems.<br><br>

    My work has been instrumental in projects such as autonomous robot navigation, industrial automation, AI-driven perception systems, and adaptive control algorithms, leveraging tools like PyTorch, TensorFlow, OpenCV, and SLAM frameworks. I am passionate about building efficient, scalable, and intelligent robotic solutions that push the boundaries of automation and real-world deployment.</p>

{% if page.url == '/' %}
  <p class="text-center">
    {% include elements/button.html link="/about" text="Know More" %}
  </p>
{% endif %}

{% if page.url == '/about/' %}
<h1>Tech Stack Usage Across Projects</h1>
<div class="row">
    {% include about/skills.html title="" source=site.data.programming-skills %}
    {% include about/skills.html title="" source=site.data.ai-ml-skills %}
</div>
{% endif %}

<div class="tech-section">
    <div class="tech-category">
        <h2>Programming Languages</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg" alt="Python">
                <span class="tech-name">Python</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cplusplus/cplusplus-original.svg" alt="C++">
                <span class="tech-name">C++</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg" alt="C">
                <span class="tech-name">C</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bash/bash-original.svg" alt="Bash">
                <span class="tech-name">Bash</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg" alt="JavaScript">
                <span class="tech-name">JavaScript</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/matlab/matlab-original.svg" alt="MATLAB">
                <span class="tech-name">MATLAB</span>
            </div>
            <div class="tech-item">
                <img src="https://img.icons8.com/?size=100&id=yqf95864UzeQ&format=png&color=000000" 
                alt="CUDA">
                <span class="tech-name">CUDA</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/kotlin/kotlin-original.svg" alt="Kotlin">
                <span class="tech-name">Kotlin</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="HTML">
                <span class="tech-name">HTML</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="CSS">
                <span class="tech-name">CSS</span>
            </div>
        </div>
        <p class="tech-description">My core languages for software development, robotics, and AI applications.</p>
    </div>

    <div class="tech-category">
        <h2>AI & Machine Learning</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/pytorch/pytorch-original.svg" alt="PyTorch">
                <span class="tech-name">PyTorch</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/tensorflow/tensorflow-original.svg" alt="TensorFlow">
                <span class="tech-name">TensorFlow</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/keras/keras-original.svg" alt="Keras">
                <span class="tech-name">Keras</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/scikitlearn/scikitlearn-original.svg" alt="Scikit-learn">
                <span class="tech-name">Scikit-learn</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/pandas/pandas-original.svg" alt="Pandas">
                <span class="tech-name">Pandas</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/numpy/numpy-original.svg" alt="NumPy">
                <span class="tech-name">NumPy</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/matplotlib/matplotlib-original.svg" alt="Matplotlib">
                <span class="tech-name">Matplotlib</span>
            </div>
        </div>
        <p class="tech-description">My preferred tools for machine learning, deep learning, and data analysis.</p>
    </div>

    <div class="tech-category">
        <h2>Robotics Frameworks</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/ros-infrastructure/artwork/master/ros_logo.svg" alt="ROS/ROS2">
                <span class="tech-name">ROS/ROS2</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/gazebo/gazebo-original.svg" alt="Gazebo">
                <span class="tech-name">Gazebo</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/opencv/opencv-original.svg" alt="OpenCV">
                <span class="tech-name">OpenCV</span>
            </div>
        </div>
        <p class="tech-description">Essential frameworks for robotics development, simulation, and computer vision.</p>
    </div>

    <div class="tech-category">
        <h2>Productivity Tools</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/photoshop/photoshop-plain.svg" alt="Photoshop">
                <span class="tech-name">Photoshop</span>
            </div>
            <div class="tech-item">
                <img src="https://img.icons8.com/?size=100&id=17949&format=png&color=000000" alt="Google Workspace">
                <span class="tech-name">Google Workspace</span>
            </div>
            <div class="tech-item">
                <img src="https://img.icons8.com/color/480/microsoft-office-2019.png" alt="Microsoft Office">
                <span class="tech-name">Microsoft Office</span>
            </div>
        </div>
        <p class="tech-description">Essential tools for documentation, collaboration, and content creation.</p>
    </div>

    <div class="tech-category">
        <h2>Development Tools</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/git/git-original.svg" alt="Git">
                <span class="tech-name">Git</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/docker/docker-original.svg" alt="Docker">
                <span class="tech-name">Docker</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/linux/linux-original.svg" alt="Linux">
                <span class="tech-name">Linux</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/cmake/cmake-original.svg" alt="CMake">
                <span class="tech-name">CMake</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/vscode/vscode-original.svg" alt="VSCode">
                <span class="tech-name">VSCode</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/jupyter/jupyter-original.svg" alt="Jupyter">
                <span class="tech-name">Jupyter</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/raspberrypi/raspberrypi-original.svg" alt="Raspberry Pi">
                <span class="tech-name">Raspberry Pi</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/arduino/arduino-original.svg" alt="Arduino">
                <span class="tech-name">Arduino</span>
            </div>
            <div class="tech-item">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/windows8/windows8-original.svg" alt="Windows">
                <span class="tech-name">Windows</span>
            </div>
        </div>
        <p class="tech-description">Essential tools for version control, development environments, and build systems.</p>
    </div>

    <div class="tech-category">
        <h2>CAD & Simulation</h2>
        <div class="tech-icons">
            <div class="tech-item">
                <img src="https://img.icons8.com/?size=100&id=62397&format=png&color=000000" alt="SolidWorks">
                <span class="tech-name">SolidWorks</span>
            </div>
            <div class="tech-item">
                <img src="https://img.icons8.com/?size=100&id=zoQNykk0EzrK&format=png&color=000000" alt="ANSYS">
                <span class="tech-name">ANSYS</span>
            </div>
            <div class="tech-item">
                <img src="https://img.icons8.com/color/480/autodesk-fusion-360.png" alt="Fusion 360">
                <span class="tech-name">Fusion 360</span>
            </div>
            <div class="tech-item">
                <img src="https://seeklogo.com/images/A/autocad-logo-69326D7728-seeklogo.com.png" alt="AutoCAD">
                <span class="tech-name">AutoCAD</span>
            </div>
            <div class="tech-item">
                <img src="https://img.icons8.com/?size=100&id=nHO01oOdNoK4&format=png&color=000000" alt="Creo">
                <span class="tech-name">Creo</span>
            </div>
            <div class="tech-item">
                <img src="https://cdn.freelogovectors.net/wp-content/uploads/2023/05/inventor_logo_autodesk-freelogovectors.net_.png" alt="Inventor">
                <span class="tech-name">Inventor</span>
            </div>
        </div>
        <p class="tech-description">Tools for mechanical design, FEA analysis, and 3D modeling.</p>
    </div>
</div>

{% if page.url == '/about/' %}
<h1>Timeline</h1> 
<div class="row">
{% include about/timeline.html %}
</div>

<br>
<h2>Activities</h2>
<ul>
    <li><strong>Vehicle Prototype Developer</strong> – QUADTEK RACING, Mahatma Gandhi Institute of Technology (FMAE BAJA 2021)</li>
    <li>Designed and optimized a BAJA off-road prototype in SolidWorks and ANSYS—refined chassis, suspension, and roll-cage via FEA and field tests, cutting frame weight 12% while meeting FMAE/SAE safety factors > 2.0</li>
    <li>Engineered custom PCB-based electrical architecture integrating sensors and actuators for real-time data logging and control</li>
</ul>

<h2>Certifications</h2>
<ul>
    <li><a href="https://www.udemy.com/certificate/UC-54ab0439-9cc2-436d-a73f-34e7173a6ce2/" target="_blank">Master Statistics & Machine Learning: Intuition, Math, Code - Udemy (Oct 2024)</a></li>
    <li><a href="https://www.udemy.com/certificate/UC-a2ca6c3a-098d-4dd4-9541-8a17e752c319/" target="_blank">A Deep Understanding of Deep Learning - Udemy (Oct 2024)</a></li>
    <li>Artificial Intelligence and Machine Learning - E-Cell, Indian Institute of Technology (Jul 2018)</li>
</ul>
{% endif %}
